.A_Propos
{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 4% auto;
    border: 1px solid red;
}

.A_Propos h2
{
    text-align: center;
    margin: 2%;
}

.A_Propos p
{
    text-align: center;
    margin-bottom: 2rem;
}

.A_Propos .propos
{
    display: flex;
    width: 100%;
}

.A_Propos .propos img
{
    width: 600px;
    height: 400px;
    margin: 3% 2%;
    border-radius: 10px;
}

.A_Propos .propos .text
{
    width: 50%;
    text-align: justify;
}

.A_Propos .propos .text .contenue
{
    display: flex;
    justify-content: space-around;
    padding-top: 15%;
    text-align: center;
}

.A_Propos .propos .text .contenue h2
{
    margin-bottom: 10%;
}

.A_Propos .propos .text .button
{
    width: 90px;
    height: 30px;
    padding: 2%;
    border-radius: 10px;
    background: rgba(68, 65, 65, 0.425);
    margin-top: 15%;
    margin-left: 40%;
    text-align: center;
}

.A_Propos .propos .text .button a
{
    text-decoration: none;
    font-weight: bold;
}

.A_Propos .propos .text .button a i
{
    font-size: 1.5rem;
}