.Competence
{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 4% auto;
}
.Competence h2
{
    text-align: center;
    margin: 2%;
}

.Competence p
{
    text-align: center;
    margin-bottom: 2rem;
}

.Competence .image
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.Competence .image img
{
    width: 150px;
    height: 150px;
    margin: 2%;
}