.Experience
{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 4% auto;
    border: 1px solid red;
}
.Experience h2
{
    text-align: center;
    margin: 2%;
}

.Experience p
{
    text-align: center;
    margin-bottom: 2rem;
}

.Experience .conteneur
{
    display: flex;
}