.footer
{
    display: flex;
    width: 98%;
    flex-direction: column;
    padding: 1%;
    background: rgb(87, 100, 224);
}


.footer .links
{
    display: flex;
    width: 20%;
    margin-top: 2%;
    justify-content: space-between;
}