.nav_bar
{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    padding: 1% 3%;
    width: 93.8%;
}

.links
{
    display: flex;
    width: 60%;
    justify-content: space-around;
}