.realisations
{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.realisations h2
{
    text-align: center;
    margin: 2%;
}

.realisations p
{
    text-align: center;
    margin-bottom: 2rem;
}
.realisations .conteneur
{
    width: 80%;
    margin: auto;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: scroll;
    scroll-behavior: smooth;
}



.realisations .conteneur .real
{
    background: rgba(248, 247, 247, 0.486);
    width: 35%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.realisations .conteneur .real img
{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.realisations .conteneur .real h2
{
    text-align: center;
}

.realisations .conteneur .real p
{
    text-align: left;
    margin-left: 4%;
    color: rgba(0, 0, 0, 0.479);
}

.realisations .conteneur .real .links
{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.realisations .conteneur .real .links .text
{
    background: rgb(200, 200, 241);
    width: 50px;
    height: 30px;
    text-align: center;
}

.realisations .conteneur .real a
{
    text-decoration: none;
    width: 40%;
    height: 40px;
    background: rgb(58, 70, 238);
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    margin-left: 5%;
}
