.About_me
{
    display: flex;
    width: 90%;
    margin: 4% auto;
}



.About_me img
{
    width: 500px;
    height: 500px;
    border-top-left-radius: 10%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 50%;
}

.About_me .About
{
    margin: 3%;
}
.About_me .About h1
{
    margin-bottom: 2%;
    margin-top: 7%;
    font-size: 2.5rem;
    text-align: left;
}
.About_me .About h2
{
    text-align: left;
}

.About_me .About p
{
    text-align: justify;
    font-size: 1rem;
    margin-bottom: 10%;
}
.About_me .About .button
{
    width: 180px;
    height: 30px;
    padding: 2%;
    border-radius: 10px;
    background: rgba(68, 65, 65, 0.425);
}
.About_me .About a
{
    text-decoration: none;
    font-size: 1.5rem;
    margin-top: -10px;
}


.About_me .About .icon
{
    transform: rotateX(45%);
}